<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Philadelphia Parking Violations</title>
    <!--Bootswatch CSS Theme-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Our CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepageStyle.css') }}">
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Philadelphia Parking Violations 2017</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/charts">Statistics</a>
            <a class="nav-link" href="/scatterplot">Scatterplot</a>
            <a class="nav-link" href="/map">Parking Citation Map</a>
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a> -->
          </div>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <!-- Introductory Paragraph-->
          <br>
          <br>
          <h4>Parking tickets...</h4>
          <p>They can ruin your day and hurt your wallet. As a group, we set out to learn more about parking tickets. What is the most common type
            of parking violation? Where are they more likely to occur? How often are they issued? Could weather conditions affect ticket issuance behaviors?
          </p>
          <p>
            To answer the above questions, we retrieved the historic Philadelphia parking violations data from 
            2017 <a href="https://www.opendataphilly.org/dataset/parking-violations" target="_blank"><u>(OpenDataPhilly)</u></a> and the historical 
            weather data from that same year <a href="https://openweathermap.org/history-bulk" target="_blank"><u>(OpenWeather API)</u></a>. 
            We then generated a series of visualizations and an interactive multi-layered map to take a closer look at the data.
          </p>
        </div>
      </div>

      <div class="row justify-content-center" id="top-margin">
        <div class="col-10">
          <!-- Carousel Slides-->
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                <a href="/charts">
                  <img src="{{ url_for('static', filename='img/home-bubble.png')}}" class="d-block w-100" alt="Visualizations of some dataset statistics">
                </a> 
                <div class="carousel-caption d-none d-md-block">
                  <h5>Statistics</h5>
                  <p>View various visualizations to have a high level understanding of the data...</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <a href="/scatterplot">
                  <img src="{{ url_for('static', filename='img/home-scatter.png')}}" class="d-block w-100" alt="Scatterplot of various data points">
                </a>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Scatterplot</h5>
                  <p>Find out if any correlation exists between the issuing of parking violations and various weather conditions...</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <a href="/map">
                  <img src="{{ url_for('static', filename='img/home-map.png')}}" class="d-block w-100" alt="Map of Philadelphia Parking Violations">
                </a>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Map of Philly</h5>
                  <p>View an interactive and multi-layered map of parking violations in Philadelphia...</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="bottom-margin">
        <div class="col-10">
          <br>
          <hr>
          <p>
            <small><em>
              P.S. For considerations including ease of work, Github repo storage, and most importantly the 
              responsiveness and performance while loading/generating the visuals, we decided to take a random sample of 
              only <strong>30%</strong> of all the parking violations data in 2017. The violation count per month was 
              consistent throughout the year thus we believed there will be minimal negative impact on our visulizations.
            </em></small>
          </p>
        </div>
      </div>
    </div>
    


    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  
  
  </body>

</html>
