<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Philly Parking Violations Map</title>
    <!--Bootswatch CSS Theme-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.extra-markers.min.css') }}">
    <!-- Our CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapStyle.css') }}">
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Philadelphia Parking Violations 2017</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/charts">Statistics</a>
            <a class="nav-link" href="/scatterplot">Scatterplot</a>
            <a class="nav-link" href="/map">Parking Citation Map</a>
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a> -->
          </div>
        </div>
      </div>
    </nav>

    <div id="map">
      <!-- We append our map here. -->
    </div>



    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- MomentJS -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script> -->
    <!-- Icons -->
    <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js') }}"></script>
    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
    <!-- API key -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <!-- Leaflet heatmap plugin -->
    <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


  </body>

</html>
