<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Is It Possible to Time the Street?</title>
    <!--Bootswatch CSS Theme-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scatterStyle.css') }}">
    <!-- CSS for D3 Components -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3StyleScatter.css') }}">
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Philadelphia Parking Violations 2017</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/charts">Statistics</a>
              <a class="nav-link" href="/scatterplot">Scatterplot</a>
              <a class="nav-link" href="/map">Parking Citation Map</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a> -->
            </div>
          </div>
        </div>
      </nav>
  

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
            <div id="scatter">
                <!-- We append our chart here. -->
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-9">
              <div class="article">
                  <h2>To drive, or not to drive, that is the question.</h2>
                  
                  <p>
                    Having taken a look at the average tickets issued per weather types, 
                    we decided to dive deeper into other weather metrics in the weather 
                    dataset to see if we can find any correlations.
                  </p>
                  <p>
                    To do that, we built a scatter plot that shows various weather metrics 
                    on the x-axis and parking metrics on the y-axis. Again, each dot is a complete 
                    hour with a weather type recorded for that time period. The majority of the 
                    metrics are implemented to explore different combinations. Using rainy 
                    conditions and their precipitation volumes against total ticket count as a 
                    case study, we do not see a strong correlation. The high ticket average shown 
                    for the "very heavy rain" weather type is also plotted on the chart (far right). Despite that 
                    data point showed a whopping 111 tickets collected under an extremely inclement weather 
                    condition (26.7mm precipitation volume) within an hour, we would likely consider it 
                    as an outlier that should not have an significant impact on our analysis.
                    Nevertheless, it looks like when the precipitation volume exceeded 5mm 
                    the ticket count tended to remain on the lower end. There could potentially be 
                    a correlation here but a dataset of more than just a 30% sample of the population 
                    needs to be collected and further analysis needs to be performed to make a definitive conclusion.
                  </p>
                  <p>
                    Having tried to visualize these data points on a scatter plot, while they are 
                    certainly pleasing on the eyes, we believe other frameworks such as using histograms 
                    to show data distribution or calculating average hourly ticket issurance for each 
                    incremental range of a specific metric (e.g. precipitation volume: 1mm, 2mm, 3mm, etc.) 
                    like we have done in our "Statistics" page could potentially provide us more accurate insights. 
                    Given the time, these are excellent action items for further improving our analysis.
                  </p>
              </div>
            </div>
        </div>
    </div>


    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>
    <!-- D3-Tip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


    <!-- Separate Popper and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>-->

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


  </body>

</html>
