.navbar {
    padding: 0.8rem 1rem;
}

/* Prev control */
.carousel-control-prev {
    width: 8%;
    background-color: slateGray;
    opacity: 0.2;
}

/* These styles are replaced by codes in home.js */
/* .carousel-control-prev:hover,
.carousel-control-prev:active {
    opacity: 0.5;
} */

/* .carousel-control-prev:focus {
    opacity: 0.6;
    background-color: steelBlue;
} */

/* Next control */
.carousel-control-next {
    width: 8%;
    background-color: slateGray;
    opacity: 0.2;
}

/* These styles are replaced by codes in home.js */
/* .carousel-control-next:hover,
.carousel-control-next:active {
    opacity: 0.5;
}

.carousel-control-next:focus {
    opacity: 0.6;
    background-color: steelBlue;
} */

/* Prev icon */
.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

/* Next icon */
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

.carousel-caption h5, p {
    color: SlateGray;
}

div.carousel button {
    border-width: 0px;
}

#top-margin {
    margin-top: 20px;
}

#bottom-margin {
    margin-bottom: 20px;
}
