.navbar {
  padding: 0.8rem 1rem;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

nav {
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
}

  